{% extends 'base.html' %}

{% block head %}
  <link rel="stylesheet" href="{{url_for('static', filename='css/style.css') }}">
{% endblock %}
    
{% block body %}

<!-- Main Searchbar -->
<div id="cotitle">
  BingeWatch
</div>

  <div class="wrapper">
     <section class="searchbar container">
        <form autocomplete="off" action="" method="POST">
            <input name="search" id="search" type="text" spellcheck="false" placeholder="Search...">
            <i class="fa fa-search"></i>
        </form>
     </section>
  </div>

  <div id="carousel">   
      <div class="prevLeftSecond">
        <form class="carousel-form" action="" method="POST">
          <input type="hidden" name="search" value="{{ images[0]['title'] }}">
            <button type="submit">
              <img src="{{ images[0]['poster'] }}">
              <div class="carousel-title">
                {{ images[0]['title'] }}
              </div>
            </button>
        </form>
      </div>
      
      <div class="prev">
          <form class="carousel-form" action="" method="POST">
            <input type="hidden" name="search" value="{{ images[1]['title'] }}">
              <button type="submit">
                <img src="{{ images[1]['poster'] }}">
                <div class="carousel-title">
                  {{ images[1]['title'] }}
                </div>
              </button>
          </form>
      </div>

      <div class="selected">
          <form class="carousel-form" action="" method="POST">
            <input type="hidden" name="search" value="{{ images[2]['title'] }}">
              <button type="submit">
                <img src="{{ images[2]['poster'] }}">
                <div class="carousel-title">
                  {{ images[2]['title'] }}
                </div>
              </button>
          </form>
      </div>
    
      <div class="next">
          <form class="carousel-form" action="" method="POST">
            <input type="hidden" name="search" value="{{ images[3]['title'] }}">
              <button type="submit">
                <img src="{{ images[3]['poster'] }}">
                <div class="carousel-title">
                  {{ images[3]['title'] }}
                </div>
              </button>
          </form>
      </div>
    
      <div class="nextRightSecond">
          <form class="carousel-form" action="" method="POST">
            <input type="hidden" name="search" value="{{ images[4]['title'] }}">
              <button type="submit">
                <img src="{{ images[4]['poster'] }}">
                <div class="carousel-title">
                  {{ images[4]['title'] }}
                </div>
              </button>
          </form>
      </div>
      
</div>

<footer>
  BingeWatch
</footer>

<!-- Scripts -->
  
  <script src='https://code.jquery.com/jquery-2.2.4.min.js'></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script type="text/javascript" src="{{url_for('static', filename='js/app.js') }}" ></script>
   
{% endblock %}